* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

.App {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #EEEEEE;
}

::-webkit-scrollbar-thumb {
  background-color: #BEAEE2;
  border-radius: 5px;
  border: 1px solid #BEAEE2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #897aac;
}